
  .navbar-nav li{
    padding: 10px 30px;
  }


   .btn-yellow
{
    background-color: #ec9700;
    width: 100px;
    border-radius: 50%;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    font-size: x-small;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.navbar {
  transition: top 0.5s ease;
}

@media screen and (min-width: 1280px) {

  .filler {
    height: 20vh;
  }

  .r_img {
    height: 50vh;
    margin-right: -15px;
  }

  .recruit-title{
    font-size: 6em;
    top: 50px;
    left: 200px;
  }

  .wrapper {
    height: 100vh;
  }

  .r-content {
    position: absolute;
    top: 545vh;
    height: 25vh;
  }

  .btn-recruit-l {
    width: 400px;
    position: absolute;
    right: 0;
  }

  .btn-recruit-r {
    width: 400px;
    position: absolute;
    left: 0;
  }

  .btn-recruit-l:hover {
    background-color: #333;
    color: #fff;
  }

  .btn-recruit-r:hover {
    background-color: #333;
    color: #fff
  }

  .work-title{
    font-size: 6em;
    top: 50px;
    left: 250px;
  }
  
  .work-content {
    position: absolute;
    top: 440vh;
    height: 70vh;
  }
  
  a.link:hover > div{
    background-color: #000;
    color: #fff;
  }
  
  .work-1 {
    background-image: url('../images/img_work_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 253px;
    width: 550px;
  }
  
  
  .work-2 {
    background-image: url('../images/img_work_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 250px;
    width: 550px;
  }
  
  .btn-work {
    height: 3em; 
    position: relative;
    bottom: 50px;
  }
  

  .company-title{
    font-size: 6em;
    top: 50px;
    right: 200px;
  }

  .c_blue {
    height: 60vh;
  } 
  
  .company-content {
    position: absolute;
    top: 345vh;
    height: 25vh;
  }
  
  .company-1 {
    background-image: url('../images/img_company.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 380px;
  }
  
  
  .company-2 {
    background-image: url('../images/img_company_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 250px;
    width: 380px;
  }

  .company-3 {
    background-image: url('../images/img_company.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 250px;
    width: 380px;
  }

  .company-1::after{
    font-size: small;
    color: #999;
    content: "- 会社概要";
    letter-spacing: normal;
    width: auto;
    height: 10px;
    position: relative;
    top: 250px; 
    left: 310px;
  }
  
  .company-2::after{
    font-size: small;
    color: #999;
    content: "- 事業案内";
    letter-spacing: normal;
    width: auto;
    height: 10px;
    position: relative;
    top: 250px; 
    left: 310px;
  }

  .company-3::after{
    font-size: small;
    color: #999;
    content: "- 会社概要";
    letter-spacing: normal;
    width: auto;
    height: 10px;
    position: relative;
    top: 250px; 
    left: 310px;
  }
  
  
  .btn-company {
    height: 3em; 
    position: relative;
    bottom: 48px;
  }


  .bg_yellow {
    height: 60vh;
  }

  .specials-title{
    font-size: 6em;
    top: 50px;
    left: 250px;
  }
  
  .content-specials {
    position: absolute;
    top: 230vh;
    height: 70vh;
  }

  .specials-1 {
    background-image: url('../images/img_specials_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 580px;
  }
  
  
  .specials-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img_specials_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 400px;
    width: 580px;
  }
  
  #link:hover #specials-button {
    background-color: #333;
    color: #fff;
  }
  
  
  .specials-1::after{
    font-size: small;
    color: #999;
    content: "- 〇〇〇の賃貸が伸びている理由とは？";
    letter-spacing: normal;
    width: auto;
    height: 10px;
    position: relative;
    top: 400px; 
    left: 350px;
  }
  
  .specials-2::after{
    font-size: small;
    color: #999;
    content: "- 社員が語る地域での働き方";
    letter-spacing: normal;
    width: auto;
    height: 10px;
    position: relative;
    top: 400px; 
    left: 415px;
  }
  
  .btn-specials {
    height: 3em; 
    position: relative;
    bottom: 48px;
  }
  

  .ttgki-content{
    position: absolute; 
    top: 115vh;
  }

  .ttgki-wrapper{
    height: 75vh;
  }


  .text-ttgki
  {
    
    
      line-height: 3.5;
      font-size: smaller;
      letter-spacing: 3px;
      font-family: "Yu Gothic", "Yu Gothic", "Yu Gothic", YuGothic, sans-serif;
      font-weight: normal;
      writing-mode: vertical-rl;
      font-weight: 500;
      
  }

  .yellow {
    vertical-align: top;
    background-color: #ec9700;
    
    font-weight: 900;
    font-size: large;
  }

  


  .carousel-item{
    height: 100vh;
  }

  #scrollbtn {
    font-size: 0.5em;
    z-index: 10; 
    position: absolute; 
    top: 85vh;
  }
}

.oswald {
  font-family: 'Oswald';
  font-weight: normal;
}


.fontyu
{
  font-family: "Yu Gothic", "Yu Gothic", "Yu Gothic", YuGothic, sans-serif;
  font-weight: normal;
}

.logo {
      
  font-family: 'Oswald';
  font-size: 2em;
  letter-spacing: 2px;
}

.bg-navbar {
  background-color: #3180d6;
  padding: 0 10em 0 10;
}

.bg-ttgki {
  background-color: white;
  background-image: url('../images/bg_nations.png');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-specials {
  background-color: #ec9700;
  background-image: url('../images/bg_specials.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}


.bg-work {
  background-color: #ec9700;
  background-image: url('../images/bg_work.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-company {
  background-color: #2065c5;
  background-image: url('../images/bg_company.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-recruit {
  background-color: #2065c5;
  background-image: url('../images/bg-recruit.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.company-title::before{
  font-size: small;
  content: "〇〇〇について";
  letter-spacing: normal;
  width: auto;
  height: 10px;
  position: absolute;
  top: -5px;
  right: 0;
}

.specials-title::before{
  font-size: small;
  content: "〇〇〇 スペシャルコンテンツ";
  letter-spacing: normal;
  width: auto;
  height: 10px;
  position: absolute;
  top: -10px
}

.judul_r{
  z-index: 10;
  font-weight: 700;
  letter-spacing: 3px;
  position: absolute;
}

.judul_r::after {
  content: "";
  width: 15px;
  height: 10px;
  background: #050525;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.judul{
  z-index: 10;
  font-weight: 700;
  letter-spacing: 3px;
  position: absolute;
}

.judul::after {
  content: "";
  width: 15px;
  height: 10px;
  background: #050525;
  position: absolute;
  bottom: -10px;
  left: 0;
}


.bg-copyright {
  background-color: #1f5bad;
  color: #fff;
}

.bg-footer {
  background-color: #2065c5;
  color: #fff;
}

ul {
  margin-left: -30px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

.comment {
  resize: none;
}
